<%= form_for(@idea_item) do |f| %>
  <% if @idea_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea_item.errors.count, "error") %> prohibited this idea_item from being saved:</h2>

      <ul>
      <% @idea_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rank %><br>
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label :idea_id %><br>
    <%= f.text_field :idea_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
